@charset "ISO-8859-1";
img.zoho{
width:100px;
}
body{
	background:url(../images/mainbackground.jpg) no-repeat center fixed;
	background-size:cover;	
}
form{
font-family:inherit;
}
label{
color:#A38A00;
font-size:100%;
}
table{
background-color:#28282B ;
margin-left:auto;
margin-right:auto;
margin-top:200px;
font-size:150%;
}
.error{
  color:red;
  font-weight:bold;
  background-color:#28282B;
  width:8%;
  margin-left:45%
}











