@charset "ISO-8859-1";
table{
background-color:#28282B ;
margin-left:auto;
margin-right:auto;
margin-top:50px;
border:10px solid white;
}
td{
color:#49ead2;
border-right:solid white;
border-bottom:solid white;
border-top:solid white;
}
th{
background:white
}